name: Build and Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        target: x86_64-pc-windows-msvc
    - name: Build Solution
      run: dotnet build FluentInfo.slnx -property:Platform=x64 -property:Configuration=Release -property:PublishReadyToRun=false
    - name: Run Tests
      run: dotnet test FluentInfoTest\bin\x64\Release\net10.0-windows\FluentInfoTest.dll
